/* font size*/
header {
  width: 100%; }

.search-header {
  display: flex;
  width: 100%;
  padding-top: 1.75rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: #e5e7eb;
  border-bottom: 1px solid #d1d5db; }
  .search-header .search-header_logo {
    flex: 1 1 15%; }
  .search-header .search-header_search {
    flex: 1 1 50%; }
    .search-header .search-header_search .search-header_logo_form {
      position: relative; }
      .search-header .search-header_search .search-header_logo_form .search {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        width: 92%;
        border-radius: 9999px;
        height: 2.75rem;
        color: #3f3f46;
        font-size: 0.875rem;
        line-height: 1.25rem;
        border: 1px solid transparent; }
        .search-header .search-header_search .search-header_logo_form .search:focus {
          opacity: 0.6;
          box-shadow: inset 0 0 0 calc(2px + 0px) #9ca3af; }
      .search-header .search-header_search .search-header_logo_form .search_submit {
        color: #232a2d;
        padding: 4px 27px;
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 36px;
        background: #f2f4f8;
        border: none;
        border-left: 1px solid #dcdcdc;
        border-radius: 48px; }
  .search-header .search-header_cart {
    flex: 1 1 25%;     
    text-align: right;
    padding-right: 3rem;

  }

.sub-nav {
  padding: 0.75rem;
  background-color: #9ca3af; }
  .sub-nav .sub-nav-menu .sub-nav-list {
    display: flex;
    justify-content: end;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 0.875rem;
    line-height: 1.25rem; }
    .sub-nav .sub-nav-menu .sub-nav-list li {
      color: #f9fafb;
      font-size: 1rem;
      line-height: 1.5rem;
      text-decoration: none;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      display: block; }

.navbar-fixed {
  color: #374151;
  background-color: transparent; }
  @media (max-width: 900px) {
    .navbar-fixed {
      background-color: white;
      color: #3f3f46; } }

.text-color-white {
  color: #ffff; }

.text-color-black {
  color: #3f3f46; }
  @media (max-width: 900px) {
    .text-color-black {
      color: white; } }

.is-active {
  display: block !important; }

.navbar {
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 11;
  font-weight: 400;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(133, 77, 14, 0.5);
}
  .navbar .navbar-logo {
    padding-bottom: 1.25rem;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 1rem; }
    .navbar .navbar-logo .logo {
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding-top: 1.25rem;
      font-weight: 700;
      letter-spacing: 0.025em; }
  .navbar .navbar-btn {
    display: flex;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 900px) {
      .navbar .navbar-btn {
        position: fixed;
        top: 4rem;
        width: 100%;
        background-color: #60a5fa;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
        max-height: 350px; } }
    .navbar .navbar-btn .navbar-links {
      flex: 1 1 auto;
      background-color: transparent; }
      @media (max-width: 900px) {
        .navbar .navbar-btn .navbar-links {
          flex: initial;
          width: 100%;
          background-color: #71717a; }
          .navbar .navbar-btn .navbar-links ul {
            flex-direction: column; } }
      .navbar .navbar-btn .navbar-links .dropdown-toggle::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .055em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent; }
        @media (max-width: 900px) {
          .navbar .navbar-btn .navbar-links .dropdown-toggle::after {
            font-size: 1.1rem;
            transform: rotate(-90deg);
            transition: .7s; } }
      @media (max-width: 900px) {
        .navbar .navbar-btn .navbar-links .is-active::after {
          transform: rotate(0deg) !important;
          transition: .7s; } }
      .navbar .navbar-btn .navbar-links ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none; }
        .navbar .navbar-btn .navbar-links ul li {
          position: relative; }
          @media (max-width: 900px) {
            .navbar .navbar-btn .navbar-links ul li a {
              width: 100%; } }
          .navbar .navbar-btn .navbar-links ul li a {
            font-size: 1rem;
            line-height: 1.5rem;
            text-decoration: none;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            padding-left: 1rem;
            padding-right: 1rem;
            display: block;
            transition: 0.5s; }
            .navbar .navbar-btn .navbar-links .navbar-nav .nav-link a:hover {
              transform: scale(1.02); }
            @media (max-width: 900px) {
              .navbar .navbar-btn .navbar-links .navbar-nav .nav-link a {
                line-height: 1;
                padding: 1.6rem 2rem; } }
          .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown {
            position: absolute;
            border-radius: 0.25rem;
            top: 100%;
            left: 0;
            width: 8rem;
            background-color: white;
            transform: translateY(10px);
            opacity: 0;
            pointer-events: none;
            transform-origin: top right;
            transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }
            @media (max-width: 900px) {
              .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown {
                background-color: white;
                position: initial;
                top: initial;
                left: initial;
                transform: initial;
                pointer-events: initial;
                width: 100%;
                padding: 0;
                opacity: 1;
                display: none; } }
            .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu {
              list-style: none;
              position: relative; }
              .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .dropdown-link {
                position: relative; }
                .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .dropdown-link a {
                  display: flex;
                  color: #52525b;
                  width: 100%;
                  padding-top: 0.5rem;
                  padding-bottom: 0.5rem;
                  padding-left: 1rem;
                  padding-right: 1rem;
                  text-align: center;
                  justify-content: space-between; }
                  @media (max-width: 900px) {
                    .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .dropdown-link a {
                      background-color: transparent;
                      color: #3f3f46;
                      padding: 1.2rem 2rem;
                      text-align: left; } }
                  .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .dropdown-link a:hover {
                    color: #facc15;
                    background-color: #f4f4f5;
                    transition: .2s;
                    transform: none; }
                @media (min-width: 900px) {
                  .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .dropdown-link .dropdown-toggle::after {
                    transform: rotate(-90deg);
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding-bottom: 2.2rem; } }
                @media (max-width: 900px) {
                  .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .dropdown-link .dropdown-toggle::after {
                    position: absolute;
                    bottom: initial;
                    right: 0; } }
              .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .dropdown-link:first-child:hover ~ .arrow {
                background-color: #f4f4f5; }
              .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .arrow {
                position: absolute;
                width: 11px;
                height: 11px;
                top: -5.5px;
                left: 32px;
                background-color: #ffffff;
                transform: rotate(45deg);
                cursor: pointer;
                transition: .2s; }
                @media (max-width: 900px) {
                  .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .dropdown-menu .arrow {
                    z-index: 1;
                    left: 10%;
                    transform: scale(1.02) rotate(45deg);
                    transition: .5s; } }
            .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .second {
              top: 0;
              left: 107%;
              cursor: pointer;
              transform: translateX(10px); }
              @media (max-width: 900px) {
                .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .second {
                  position: initial;
                  top: initial;
                  left: initial;
                  transform: initial;
                  pointer-events: initial;
                  width: 100%;
                  padding: 0;
                  display: none; }
                  .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .second .dropdown-link > a {
                    padding: 1.2rem 2rem 1.2rem 3rem; } }
              .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .second .arrow {
                left: -5.5px;
                top: 10px; }
                @media (max-width: 900px) {
                  .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown .second .arrow {
                    display: none; } }
          @media (min-width: 900px) {
            .navbar .navbar-btn .navbar-links .navbar-nav .nav-link:hover > .dropdown,
            .navbar .navbar-btn .navbar-links .navbar-nav .nav-link .dropdown-link:hover > .dropdown {
              transform: translate(0, 0);
              opacity: 1;
              pointer-events: auto; } }
  .navbar .navbar-right {
    padding-right: 3rem; }
  .navbar .hambergur-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end; }
    @media (max-width: 900px) {
      .navbar .hambergur-menu-container {
        display: flex; } }
    .navbar .hambergur-menu-container .hambergur-menu {
      width: 2.5rem;
      height: 2.5rem;
      color: #3f3f46;
      align-items: center;
      justify-content: center; }
      @media (max-width: 900px) {
        .navbar .hambergur-menu-container .hambergur-menu {
          color: #3f3f46; } }
  .navbar .search {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 92%;
    border-radius: 0.5rem;
    height: 2.5rem;
    color: #3f3f46;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: 1px solid gainsboro; }
    .navbar .search:focus {
      opacity: 0.6;
      box-shadow: inset 0 0 0 calc(2px + 0px) #9ca3af; }
  .navbar .nav-link-search {
    position: absolute;
    top: 1.5rem;
    right: 5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    width: 30rem; }
    .navbar .nav-link-search .nav-link-button {
      background-color: transparent;
      color: #3f3f46;
      font-size: 0.875rem;
      line-height: 1.25rem; }
  .navbar .collapsible {
    background-color: transparent;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

*, :after, :before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid #e5e7eb; }

div {
  display: block; }

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0; }

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit; }

button {
  cursor: pointer; }

body {
  font-family: "circular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0; }

body {
  background-color: #f9fafb; }

.bg-color-white {
  background-color: white; }

.text-white {
  color: white !important; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }
  a:hover {
    color: #ffb606 !important; }

.inline-block {
  display: inline-block; }

.flex {
  display: flex; }

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.25rem * calc(1 - 0));
  margin-bottom: calc(0.25rem * 0); }

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.5rem * calc(1 - 0));
  margin-bottom: calc(0.5rem * 0); }

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.75rem * calc(1 - 0));
  margin-bottom: calc(0.75rem * 0); }

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(1rem * calc(1 - 0));
  margin-bottom: calc(1rem * 0); }

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(1.25rem * calc(1 - 0));
  margin-bottom: calc(1.25rem * 0); }

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(1.5rem * calc(1 - 0));
  margin-bottom: calc(1.5rem *  0); }

.space-y-7 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(1.75rem *0);
  margin-bottom: calc(1.75rem *  0); }

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(2.0rem * calc(1 - 0));
  margin-bottom: calc(2.0rem *  0); }

.space-y-9 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(2.25rem * calc(1 - 0));
  margin-bottom: calc(2.25rem *  0); }

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(2.5rem * calc(1 - 0));
  margin-bottom: calc(2.5rem *  0); }

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(0.25rem * 0);
  margin-left: calc(0.25rem * calc(1 - 0)); }

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(0.5rem *0);
  margin-left: calc(0.5rem * calc(1 - 0)); }

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  margin-top: calc(0.75rem * calc(1 - 0));
  margin-bottom: calc(0.75rem * 0); }

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(1rem * 0);
  margin-left: calc(1rem * calc(1 - 0)); }

.space-x-5 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(1.25rem * 0);
  margin-left: calc(1.25rem * calc(1 - 0)); }

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(1.5rem * 0);
  margin-left: calc(1.5rem * calc(1 - 0)); }

.space-x-7 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(1.75rem * 0);
  margin-left: calc(1.75rem * calc(1 - 0)); }

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(2rem * 0);
  margin-left: calc(2rem * calc(1 - 0)); }

.space-x-9 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(2.25rem * 0);
  margin-left: calc(2.25rem * calc(1 - 0)); }

.space-x-10 > :not([hidden]) ~ :not([hidden]) {
  margin-right: calc(2.5rem * 0);
  margin-left: calc(2.5rem * calc(1 - 0)); }

input:focus, button:focus, textarea:focus {
  outline: 0;
  box-shadow: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.margin-right-1 {
  margin-right: 1rem; }

.margin-right-1setengah {
  margin-right: 1.5rem; }

.margin-left-1 {
  margin-left: 1rem; }

.margin-left-1setengah {
  margin-left: 1.5rem; }

.margin-top-1 {
  margin-top: 1rem; }

.margin-top-1setengah {
  margin-top: 1.5rem; }

.margin-bottom-1 {
  margin-bottom: 1rem; }

.margin-bottom-1setengah {
  margin-bottom: 1.5rem; }

.text-normal {
  color: #27272a;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem; }

.padding-1 {
  padding: 1rem; }

.padding-1setengah {
  padding: 1.5rem; }

.padding-right-1 {
  padding-right: 1rem; }

.padding-right-1setengah {
  padding-right: 1.5rem; }

.padding-left-1 {
  padding-left: 1rem; }

.padding-left-1setengah {
  padding-left: 1.5rem; }

.padding-top-1 {
  padding-top: 1rem; }

.padding-top-1setengah {
  padding-top: 1rem; }

.padding-bottom-1 {
  padding-bottom: 1rem; }

.padding-bottom-1setengah {
  padding-bottom: 1.5rem; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.transform {
  transform: translateX(0) !important; }

.form-group {
  margin-bottom: 1rem; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

.input-regular {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-width: 1px;
  border-color: #ced4da;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); }
  .input-regular:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff; }

.banner {
  display: flex;
  flex: 1 1 0%;
  width: 100%;
  padding: 3rem; }
  .banner .banner-box {
    width: 100%;
    background-color: #f9fafb;
    overflow: hidden; }
    @media (min-width: 900px) {
      .banner .banner-box {
        display: flex; } }
    .banner .banner-box .banner-img {
      width: 100%;
      padding: 0.25rem;
      height: 16rem;
      border-radius: 0px;
      object-fit: cover; }

.promo {
  display: grid;
  padding: 4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 14px;
  background-color: #f9fafb;
  margin: 0; }
  .promo .promo-box {
    position: relative;
    background-color: white;
    border-radius: 0.25rem;
    height: 10rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem; }
    .promo .promo-box img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      border-radius: 0.25rem; }

.kategori {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  background-color: #f9fafb;
  margin: 0; }
  .kategori .kategori-box {
    position: relative;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 2rem;
    border-radius: 0.25rem; }
    .kategori .kategori-box:hover .overlay {
      height: 100%; }
    .kategori .kategori-box .img-box {
      width: 100%;
      height: auto; }
    .kategori .kategori-box .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #6b7280;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease; }
      .kategori .kategori-box .overlay .text {
        color: white;
        font-size: 0.875rem;
        line-height: 1.25rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center; }


/* .product {
  display: grid;
  padding: 4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: #f9fafb;
  margin: 0; } */
    
footer {
  display: grid;
  padding: 3rem;
  color: #d1d5db;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  height: 100%;
  background-color: #343a40;
  margin: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  @media (min-width: 900px) {
    footer {
      grid-template-columns: 4fr 4fr 4fr; } }
  footer .footer-contact {
    margin: 1rem 0; }
    footer .footer-contact .link {
      color: #d1d5db !important; }
  footer .menu-bawah {
    display: flex;
    flex-direction: column; }
  footer .peta {
    width: 100%;
    overflow: hidden; }

.padding-1 {
  padding: 1rem;
}

.padding-3 {
  padding: 3rem;
}

.heading {
  color: #d97706;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700; }

.copyright {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #0e7490;
  font-weight: 600;
  text-align: center;
  color: #f9fafb; }

.heading-space-between {
  display: flex;
  justify-content: space-between;
}

.ul.products li.product .onsale {
  right: unset !important;
  margin-left: -0.5rem !important; }


.main {
  display: flex;
  width: 100%;
}
.woocommerce.columns-4.quick-sale {
    flex: 1 1 75%;
    padding: 3rem;
}
.main .sidebar {
  flex: 1 1 25%;
  padding: 3rem;
}

.card {
    /* flex: 1 1 25%; */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.product-list {
  padding: 3rem;
}

h1.heading2 {
  text-align: center;
  padding: 1rem;
}
